<div class="alert-container">
  <div class="alert-icon">
    <img class="alert-icon-img" src="./assets/images/{{sectionRiskAlert.icon}}.png">
    <div class="layer text-style-1" [ngStyle]="{'color': sectionRiskAlert.numberColor}">{{sectionRiskAlert.number}}</div>
  </div>
  <div class="alert-body">
    <div class="alert-body-row-1">
      <span class="body-title">{{sectionRiskAlert.title}}</span>
      <span class="body-subtitle">{{sectionRiskAlert.subtitle}}</span>
    </div>
    <div class="alert-body-row-2">
      <span class="alert-danger-wc label label-danger">{{sectionRiskAlert.riskLevel}}</span>
      <div *ngFor="let alert of sectionRiskAlert.alerts">
        <span id="circle" [ngStyle]="{'background-color': alert.color}">
          <img class="img-overlay" src="./assets/images/{{alert.icon}}">
        </span>
      </div>
    </div>
  </div>
  <div *ngIf="alertSelected == true" class="alert-sidebar">
    <div class="icon-arrow-right Arrow-right--simple-line-icons"></div>
  </div>
</div>
<hr>
